.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.navbar img {
    width: 150px;
    height: 35px;
}
.navbar ul {
    display: none;
    gap: 1em;
}
.navbar ul a {
    text-decoration: none;
    color: #FFFFFF;
}
.navbar ul a:hover{
    background: linear-gradient(to right,#FF4653,#FFFFFF,#FF4653,#C3C3C3,#f11c2a);
    -webkit-background-clip: text;
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;
    animation: gradient-animation 3s ease infinite;
}
@keyframes gradient-animation {
    0%{
       background-position: 0% 100%;
    }
    100%{
       background-position: 100% 0%;
    }
}
.navbar ul li {
    list-style-type: none;
    color:#FFFFFF;
}
.navbar .login {
    display: none;
}
.btn-sign{
    font-weight: bold;
    padding: 6px;
    background-color: #C3C3C3;
    color: #111111;
    border: none;
}
.btn-login{
    padding: 6px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}
i {   
    padding: 0px;
    color: white;
}
@media (min-width: 786px) {
    .navbar i {
        display: none;
    }
    .navbar ul{
        display: flex;
    }
    .navbar .login{
        display: flex;
    }
}

@media(min-width:600px) {
    .footer-group{
        padding:10px 80px;
    }
    .footer-group ul {
        display: flex;
        margin-top: 1rem;
        gap: 0.5rem;
    }

    .footer-group ul li a {
        text-decoration: none;
        color: #FFFFFF;
    }

    .footer-group ul li {
        list-style-type: none;
    }
    .footer-group{
        display: flex;
        flex-direction: column;
        gap:20px;
    }
    .footer-group div{
        display: flex;
        justify-content: space-between;
    }
}

@media(max-width:600px) {
    .footer-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer-group div{
        display:flex;
        flex-direction:column ;
        align-items: center;
    }

    .footer-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer-group ul {
        display: flex;
        margin-top: 1rem;
        gap: 0.5rem;
    }


    .footer-group ul li {
        list-style-type: none;
    }

    .footer-group ul li a {
        text-decoration: none;
        color: #FFFFFF;
    }

    .links-socials {
        display: flex;
        flex-direction: row !important;
        margin: 1rem 0;
        gap: 1rem;
        justify-content: center;
    }

    footer p {
        margin: 1rem 0;
    }
}
footer{
    position: relative;
    top: 25vh;
    background-color: #292929;
    color:#ffffff;
    font-family: "anton",sans-serif;
}
