*{
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style:normal;
}
body{
    background-color: #111111;
    color: aliceblue;
}
.hero{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5%;

}
.hero-image{
    width: 100%;
    height: auto;
}
.hero-image>img{
    width: 100%;
}
.championship-description{
    display: grid;
    grid-template-rows:auto ;
    row-gap: 10px;
}
.championship-name{
    height: fit-content;
    font-size:16px;
    justify-items: center;
}
.info-grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    height: fit-content;
    justify-items: center;
}
.short-desc{
    text-indent: 20px;
    text-align: justify;
}
.watch-button{
    background-color: #FF4653;
    width: 100%;
    height: 2em;
    font-size: 24px;
    color: #F0F8FF;
}
.watch-button:hover{
    transform: scale(110%);
    box-shadow:0 0 10px #FF4653;
}
button:hover{
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
}
.schedule{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(max-content, 1fr));
    grid-template-columns: 1fr;
}
.vs-text{
    text-align: center;
    font-size: 16px;

}
.match-details{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    align-items: center;
    justify-items: space-evenly;
    padding: 2%;
}
.logo-vs-logo{
    display: flex;
    justify-content: space-evenly;
}
.matches>h3{
background-color: rgba(255, 70, 82, 0.349);
text-align: center;
font-size: 32px;
}
.match-button{
    background-color: #FF4653;
    width: 95%;
    font-size: 100%;
    padding: 10px;
}
.team-logo{
    clip-path: circle(50%);
    justify-content: center;
}
.team-logo:hover{
    cursor: pointer;
}
.rankingboard{
    width: 100%;
}
table {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-size: 1.5em;

}
th, td {
    padding: 8px;
    gap: 5px;

}
@media screen and (min-width: 1024px) {

    .hero-image{
        width: 50%;
        height: auto;
    }
    .hero-image>img{
        width: 100%;
    }
    .championship-description{
        box-sizing: border-box;
        width: 50%;
        display: grid;
        grid-template-rows: auto ;
        row-gap: 10px;
        padding-left: 5%;
    }
    .container{
        flex-direction: row;
    }
    .schedule{
        width: 50%;
        box-sizing: border-box;
        padding: 2%;
    }
    .rankingboard{
        padding: 2%;
        width: 50%;
    }
}